[submodule "walls"]
	path = walls
	url = git@github.com:nguyenvukhang/walls.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:nguyenvukhang/neovim.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:nguyenvukhang/zsh.git
[submodule "pass/.password-store"]
	path = pass/.password-store
	url = git@github.com:nguyenvukhang/p.git
