[submodule "personal"]
	path = personal
	url = git@github.com:nguyenvukhang/personal.git
[submodule "raspberry-pi"]
	path = raspberry-pi
	url = git@github.com:nguyenvukhang/raspberry-pi.git
[submodule "p"]
	path = pass
	url = git@github.com:nguyenvukhang/p.git
