[submodule "walls"]
	path = walls
	url = git@github.com:nguyenvukhang/walls.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:nguyenvukhang/zsh.git
	branch = master
[submodule "pass/.password-store"]
	path = pass/.password-store
	url = git@github.com:nguyenvukhang/p.git
[submodule "personal"]
	path = personal
	url = git@github.com:nguyenvukhang/personal.git
[submodule "raspberry-pi"]
	path = raspberry-pi
	url = git@github.com:nguyenvukhang/raspberry-pi.git
